.border-input {
    border-width: 1px;
    border-color: black;
}

.navbar {
    position: fixed;
    z-index: 1065;
}

.product {
    margin-top: 60px;
}

.modal {
    z-index: 1060;

}

.modal-backdrop {
    z-index: 1055;

}

.title {
    margin-left: 48px;
}



.hover-target:hover+#book-info-popup {
    display: block;
}

#book-info-popup {
    display: none;
}